<html>
  <head>
    <title><%= path %></title>
  </head>
  <body bgcolor="white">
    <h1><%= path %></h1>
    <hr>
    <table>
      <thead>
        <th>이름</th>
        <th>크기</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="../">../</a></td>
          <td>-</td>
        </tr>
        
        <% for(var i = 0; i < files.length; i++) { %>
        <tr>
          <td><a href="<%= files[i].path %>"><%= files[i].displayName %></a></td>
          <td><%= (files[i].displaySize !== null) ? files[i].displaySize : '-' %></td>
        </tr>
        <% } %>
  
      </tbody>
    </table>
    <hr>
  </body>
</html>